/* http://meyerweb.com/eric/tools/css/reset/
         v2.0 | 20110126
         License: none (public domain)
      */

.main {
  width: 393px;
  height: 852px;
  margin: 0 auto;
}
h2 {
  font-family: Inter;
  font-size: 25px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 40px;
}
.logo {
  margin-bottom: 80px;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
input[type="text"].inp,
input[type="password"].inp {
  width: 135px;
  height: 19px;
  border-radius: 11px;
  background: #e1e9f6;
  border: none;
  padding: 19px 10px;
  padding-right: 220px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #323232;
  font-family: "Inter";
  font-size: 17px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 17px;
}
input[type="text"]:focus-visible,
input[type="password"]:focus-visible {
  border: none;
}
::placeholder {
  color: #323232;
  opacity: 1; /* Firefox */
}

h3 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 3px;
}
button {
  padding: 20px 155px;
  background: #b5cff8;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
}
.logo {
  margin-top: 72px;
}
