@font-face {
  font-family: Source;
  src: url(fonts/Inter-Medium.ttf);
  font-weight: bold;
}
@font-face {
  font-family: SourceL;
  src: url(fonts/Inter-ExtraLight.ttf);
}
body {
  font-family: Source;
}
.main {
  width: 393px;
  height: 852px;
  margin: 0 auto;
}

.find {
  border-radius: 11px;
  border: 2px solid #6599eb;

  background: #fff;
}
.find {
  width: 392px;
  height: 60px;
  box-sizing: border-box;
  margin-bottom: 10px;
  position: relative;

  border-radius: 11px;
  border: 2px solid #6599eb;

  background: #fff;
  padding-left: 40px;
}
.findBlock {
  position: relative;
}
.findBlock:after {
  position: absolute;
  content: "";
  background: url(srch.png);
  left: 12px;
  top: 18px;
  width: 20px;
  height: 20px;
}
.logo {
  margin-top: 72px;
}
.back {
  position: relative;
  margin-top: 15px;
  width: 74px;
  height: 28px;
  background: #b5cff8;
  padding: 8px 15px 8px 18px;
  box-sizing: border-box;
  font-size: 15px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  margin-bottom: 28px;
}
.back::after {
  content: "";
  background: url(back.png);
  width: 18px;
  height: 18px;
  left: 1px;
  top: 6px;
  background-size: cover;
  border-radius: 6px;
  position: absolute;
}

.number {
  margin-top: 28px;
}
.contact {
  border-radius: 11px;
  background: #e1e9f6;
  width: 353px;
  height: 66px;
  display: flex;
  justify-content: space-between;
}
.phone {
  color: #6599eb;
  font-size: 13px;
}
.name {
  padding-top: 10px;
  padding-left: 10px;
}
.phone {
  margin-top: 5px;
  margin-left: 10px;
}
.right {
  width: 46px;
  height: 46px;
  border-radius: 6px;
  background: #b5cff8;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}
.vendor {
  color: #323232;

  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.right {
  position: relative;
}
.right::after {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 12px;
  right: 13px;

  content: "";
  background-image: url(go.png);
}
.contact {
  margin-top: 10px;
}
.add {
  position: relative;
  border-radius: 11px;
  background: #b5cff8;
  width: 353px;
  height: 60px;
  border: none;
  color: #323232;

  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 20px;
  font-family: SourceL;
}
.add:after {
  position: absolute;
  content: "";
  background: url(add.png);
  left: 110px;
  width: 20px;
  height: 20px;
  top: 20px;
}
